@{
    ViewData["Title"] = "String Type Show Page";
}

<div class="text-center">
    <h2 class="display-4">String Type Show</h2>
   <h3>Value : @ViewBag.value</h3>
    <h3>Ziyaretçi : @ViewBag.ziyaretci</h3>
</div>


