@model HashSet<string>
@{
    ViewData["Title"] = "Sorted Set Type Page";
}


<h1 class="display-4">Sorted Set Type</h1>
<form asp-action="Add" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="name" />
    <input type="number" name="score" />
    <button type="submit">Save</button>
</form>


@foreach (var item in Model)
{
    <li>@item <a asp-action="DeleteItem" asp-route-name="@item">Delete</a></li>
}